button {
    background: white;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 24px;
    padding: 0.8em 2em;
}

.dropdown-menu {
    border: 1px solid rgb(182, 182, 182);
    width: fit-content;
    margin-top: 0.5em;

    ul {
        list-style-type: none;
        padding: 0;
    }
}